node_modules
dist
dist-ssr
*.local
.env
.env.local
.DS_Store
*.local.md
*.local.js
functions/whital/
firebase-debug.log
*-debug.log
android/.gradle/
android/build/
android/app/build/
android/wear/build/
android/local.properties
android/*.keystore
